*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

widget/src/test/java/com/yeamy/widget/ExampleUnitTest.java

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/gradle.xml

.idea/misc.xml

.idea/modules.xml

.idea/runConfigurations.xml

.idea/vcs.xml

app/proguard-rules.pro

app/src/test/java/com/yeamy/widget/ExampleUnitTest.java

widget/proguard-rules.pro
